/* custom styles can go here */

#chapter-foo p {
	text-transform: uppercase;
}

img.noboarder {
	border: none !important;
	box-shadow: none !important;
}

.noUppercase {
	text-transform: none;
}

div.horizontal-3 img, div.horizontal-3 div {
	float: left;
	width: 28%;
	margin: 2%;
}

div.horizontal-2 img, div.horizontal-2 div {
	float: left;
	width: 44%;
	margin: 3%;
}

